body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.dyra {
    color: #2e2f42;
}

.theme {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #fff;
    background-color: #2e2f42;
}

footer {
    background-color: #2e2f42;

}

.cringe {
    letter-spacing: 0.02em;
    color: #F4F4FD;
    line-height: 1.5;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

address {
    font-style: normal;
}

.first-secrion {
    background-color: #2e2f42;
}